<nav class="navbar navbar-toggleable-md navbar-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ site.url }}">LightHome</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/products">Lighting Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/random">Random Finds</a>
        </li>
<!--         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdownStrip" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LED Strips
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownStrip">
            <a class="dropdown-item" href="#">Cheapest</a>
            <a class="dropdown-item" href="#">Best Quality</a>
            <a class="dropdown-item" href="#">RGB vs RGBWW</a>
            <a class="dropdown-item" href="#">150 vs 300</a>
            <a class="dropdown-item" href="#">Water Proofing</a>
            <a class="dropdown-item" href="#">Addressable Strips</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdownBulb" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LED Bulbs
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownBulb">
            <a class="dropdown-item" href="#">Regular Bulbs</a>
            <a class="dropdown-item" href="#">Recessed Bulbs</a>
            <a class="dropdown-item" href="#">RGB Bulbs</a>
            <a class="dropdown-item" href="#">Infrared Bulbs</a>
            <a class="dropdown-item" href="#">Philips Hue</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdownController" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Controllers
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownController">
            <a class="dropdown-item" href="#">Infrared</a>
            <a class="dropdown-item" href="#">Wifi</a>
            <a class="dropdown-item" href="#">Music</a>
            <a class="dropdown-item" href="#">Alexa</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/state-led-incentives-and-rebates">State Incentives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Design Ideas</a>
        </li> -->
      </ul>
    </div>

 </div>
</nav>
<div class="hanging-light-bulb">
  <div class="light-hanger"></div>
  <img src="{{ site.url }}/img/site/light-bulb-on.svg"/>
</div>
