// @import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-size: 16px;
  // font-family: 'Montserrat', sans-serif;
}

.container{
  width: 100%;
  max-width: 1000px;
}

.center{
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

header.slant-header {
  position: relative;
  height: 300px;
  background-image: linear-gradient(#fa6872, #fa9269);

  h1 {
    color: white;
    padding: 100px 0;
    text-align: center;
  }

  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vw;
    /* set height to pixels if you want angle to change with screen width */
  }

  &.slant-header-post{
    background-image: linear-gradient(#fa6872, #fa9269);
    height: 200px;
    h1{
      padding: 70px 0;
    }
    svg{
      height: 4vw;
    }
  }
}

.btn-danger-special{
  border-bottom: 5px solid #f57e7b;
}

.navbar{
  background: #fa6872;
}
