.post-card{
  &:hover{
    text-decoration: none;
  }
}

.post-header{
  background-image: linear-gradient(#fa6872, #fa9269);
  width: 100%;
  a:hover{
    text-decoration: none;
  }
  .post-title{
    text-align: center;
    color: white;
    padding: 4rem 1rem;
  }
}

.post-content{
  img{
    width: 100%;
    margin: 0.5rem 0;
  }

  @media (min-width: 576px){
    img{
      width: 50%;
    }

    p:nth-child(odd) img{
      float: left;
      margin: 0.5rem 1rem 0.5rem 0;
    }

    p:nth-child(even) img{
      float: right;
      margin: 0.5rem 0 0.5rem 1rem;
    }
  }

}
