---
layout: default
---
<article class="post">

  <header class="post-header mb-4">
    <h1 class="post-title">{{ page.title }}</h1>
    <h4 class="post-subtitle">State LED Incentives and Rebates</h4>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card w-100">
          <div class="card-img-top embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kZWiT_NVouA" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="card-block">
            <small class="text-muted">Last updated {{ page.date | date: "%B %d, %Y" }}</small>
            <div class="markdown-content">
              {{ content }}
            </div>
            <hr />
            <h4>Responses</h4>
            <p>If you know of any rebates or incentives that we missed please leave a comment below so we can incorporate the feedback into the post.</p>
            <div id="disqus_thread"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card w-100">
          <div class="card-block">
            <h5 class="text-success">New Posts</h5>
            {% for post in site.categories['products'] limit:4 %}
              {% unless post.title == page.title %}
                <hr />
                <a href="{{ site.baseurl }}{{ post.url }}">
                  {{ post.title }}
                  <!-- <small class="text-muted d-block my-2">Last updated {{ post.date | date: "%B %d, %Y" }}</small> -->
                  <img class="w-100 mt-2" src="{{ site.baseurl }}/img/{{ post.categories.first }}/{{ post.title | slugify }}/thumbnail.jpg">
                </a>
              {% endunless %}
            {% endfor %}
          </div>
        </div>
        <div class="card w-100 mt-4">
          <div class="card-block">
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=6c7696a8-156c-49e7-b511-08c9b92db684"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.page.url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = 'incentives_{{ page.title | slugify }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://light-home.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
