---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <dir class="row">
  <div class="col-md-3">
    <div class="album-post-page" href="{{ page.url | prepend: site.baseurl }}">
      <div class="album-post__art" style="background-image: url({{ site.baseurl }}/img/art/{{page.art}})"></div>
      <span class="album-post__album">{{ page.title }}</span>
      <br>
      <span class="album-post__artist">{{ page.artist }}</span>
    </div>
  </div>

  <div class="col-md-6">
    <iframe class="spotify-embed" src="{{ page.playlist_uri }}" frameborder="0" allowtransparency="true"></iframe>

    <div id="disqus_thread"></div>
    <script>
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//whatthetrack.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
  </div>
  <div class="col-md-3"></div>

</article>
