---
layout: default
---
<article class="post">

  <header class="post-header mb-4">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

<!--   <header class="post-header">
    <h1 class="post-title my-4">{{ page.title }}</h1>
  </header> -->

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="post-content card w-100">
          <div class="card-block">
            <div class="clearfix">
              <h4>{{ page.title }}</h4>
              <hr />
              <p>
                <img src='{{ site.baseurl }}/img/{{ page.categories.first }}/{{ page.title | slugify }}/thumbnail.jpg'>
              </p>
              {{ content }}
            </div>
            <hr />
            <div id="disqus_thread"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="post-content card w-100">
          <div class="card-block">
            <h4 class="text-center">
              Price: {{ page.price }}
            </h4>
            <a href="{{ page.link }}" class="btn btn-danger w-100 mt-2">Buy on Amazon</a>
            <button type="button" class="btn btn-secondary w-100 mt-2" data-toggle="modal" data-target="#shareModal">Share</button>

            <!-- Modal -->
            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Share</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="text" class="form-control" value="{{ site.url }}{{ page.url }}">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
  this.page.url = '{{ site.url }}{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = '{{ page.title | slugify }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://light-home.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
